<article class="module width_full">
<div style="width:97%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary" data-model="application_list" href="#!/application/list" style="color: white;"><i class="icon-edit icon-white"></i> 檢視軟體列表</a>
    </div>
    <form action="#" method="post" class="well" id="application_form">
        <div class="control-group">
            <label>唯一ID</label>
            <input type="text" name="app_key" class="span3" placeholder="Please enter App key" value="{{app_key}}" /><br /><button class="btn btn-info auto_generate" type="button" data-field="app_key"><i class="icon-arrow-up icon-white"></i> 自動產生</button>
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            <label>檔名</label>
            <input type="text" name="app_title" class="span3" placeholder="Please enter app title" value="{{app_title}}" />
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>縮寫</label>
            <input type="text" name="app_name" class="span3" placeholder="Please enter app name" value="{{app_name}}" />
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>縮圖網址</label>
            <input type="text" name="app_cover" class="span3" placeholder="Please enter app cover" value="{{app_cover}}" />
            {{#is_edit}}<img src="{{app_cover}}" width="50" />{{/is_edit}}
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label>網址</label>
            <input type="text" name="app_url" class="span3" placeholder="Please enter app url" value="{{app_url}}" />
            <p class="help-block"></p>
        </div>
        <div class="control-group">
            <label class="checkbox">
                <input type="checkbox" name="app_enabled" value="1" {{#if is_enabled}}checked{{/if}}{{^is_edit}}checked{{/is_edit}}> 啟用
            </label>
        </div>
        <p class="help-block">*上面欄位務必填寫.</p>
        {{#is_edit}}
            <input type="hidden" name="app_id" value="{{app_id}}">
        {{/is_edit}}
        <button type="button" data-model="application" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}"><i class="icon-edit icon-white"></i> {{^is_edit}}建立 Application{{/is_edit}}{{#is_edit}}編輯 Application{{/is_edit}}</button>
        <button class="btn" type="reset">{{^is_edit}}重新填寫{{/is_edit}}{{#is_edit}}取消編輯{{/is_edit}}</button>
    </form>
</div>
</article>
