<article class="module width_full">
<div style="width:97%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary" data-model="new" href="#!/new/list/{{motel_id}}" style="color: white;"><i class="icon-list"></i> 檢視優惠列表</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">優惠資料</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            <form action="#" method="post" class="well" id="new_add_form">
                {{#is_edit}}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    最後修改日期為 {{date_time edit_time}}
                </div>
                {{/is_edit}}
                <div class="form-group">
                    <label class="control-label">優惠標題</label>
                    <input type="text" name="title" class="form-control" placeholder="請輸入優惠名稱" value="{{title}}">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">起始時間</label>
                    <input type="text" id="start_time" name="start_time" class="form-control" placeholder="起始時間" value="{{start_time}}">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">結束日期</label>
                    <input type="text" id="end_time" name="end_time" class="form-control" placeholder="結束日期" value="{{end_time}}">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">描述</label>
                    <textarea class="form-control" rows="3" name="description">{{description}}</textarea>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">上傳優惠圖片</label>
                    <div data-placement="top" data-original-title="Change collection cover" data-toggle="tooltip">
                        <a class="btn btn-success fileinput-button">
                            <i class="icon-cloud-upload"></i>
                            <span>上傳優惠封面</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="fileupload" type="file" name="upload_file">
                        </a>
                        <input type="hidden" id="image_url" name="image_url" value="{{image_url}}">
                        <input type="hidden" id="raw_name" name="raw_name" value="{{raw_name}}">
                    </div>
                </div>
                <div id="upload_area" class="row">
                    {{#is_image}}
                    <img src="{{image_url}}" class="img-rounded" style="width: 400px; height: 200px;">
                    {{/is_image}}
                </div>
                <div id="progress" class="progress hide" style="margin-top:10px;">
                    <div style="width: 0%;" class="progress-bar progress-bar-success"></div>
                </div>
                <p class="help-block">*上面欄位務必填寫.</p>
                <input type="hidden" name="motel_id" value="{{motel_id}}">
                {{#is_edit}}
                    <input type="hidden" name="id" value="{{id}}">
                {{/is_edit}}
                <button type="button" data-form="#new_add_form" {{#is_edit}}data-id="{{id}}"{{/is_edit}} data-model="new" class="btn btn-primary {{^is_edit}}add{{/is_edit}}{{#is_edit}}edit{{/is_edit}}">{{^is_edit}}建立優惠{{/is_edit}}{{#is_edit}}編輯優惠{{/is_edit}}</button>
                <button class="btn" type="reset">{{^is_edit}}重新填寫{{/is_edit}}{{#is_edit}}取消編輯{{/is_edit}}</button>
            </form>
        </div>
    </div>
</div>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        console.log(e);
        console.log(e.target.hash); // activated tab
        console.log(e.relatedTarget.hash); // previous tab
    });
}(jQuery));
</script>
