<article class="module width_full">
<div style="width:97%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary check_all" data-model="new" style="color: white;"><i class="icon-ok"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="new" href="#!/new/add/{{motel_id}}" style="color: white;"><i class="icon-edit"></i> 新增優惠</a>
        <a class="btn btn-danger delete_all" data-form="#new_list_form" data-model="new" style="color: white;"><i class="icon-trash"></i> 刪除優惠</a>
    </div>
    <ul class="pager">
        {{#previous_show}}
        <li class="previous">
            <a href="#!/new/list/1" style="margin-right: 10px;">&larr; 第一頁</a>
        </li>
        <li class="previous">
            <a href="#!/new/list/{{previous_page}}">&larr; 上一頁</a>
        </li>
        {{/previous_show}}
        {{#next_show}}
        <li class="next">
            <a href="#!/new/list/{{next_page}}">下一頁 &rarr;</a>
        </li>
        {{/next_show}}
    </ul>
    <form action="#" method="post" id="new_list_form">
    <div class="table-responsive">
    <table id="new_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>優惠標題</th>
                <th>起始時間</th>
                <th>結束日期</th>
                <th>建立日期</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id[]" value="{{id}}"></td>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{start_time}}</td>
            <td>{{end_time}}</td>
            <td>{{date_time add_time}}</td>
            <td>
                <a class="btn btn-primary" data-model="new" data-id="{{id}}" href="#!/new/edit/{{id}}" style="color: white;"><i class="icon-edit"></i> 編輯</a>&nbsp;
                <a class="btn btn-danger delete" data-model="new" data-title="{{title}}" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash"></i> 刪除</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </div>
    </form>
</div>
</article>
