<article class="module width_full">
<div style="width:97%;margin:0 auto;">
    <form action="#" method="post" id="order_add_form">
    <div class="menu">
        <a class="btn btn-primary" data-model="order" href="#!/order/list/{{motel_id}}" style="color: white;"><i class="icon-list"></i> 檢視訂單列表</a>
    </div>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">訂單資料</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active well" id="profile">
            {{#is_edit}}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                最後修改日期為 {{date_time edit_time}}
            </div>
            {{/is_edit}}
            <div class="form-group">
                <label class="control-label">手機編號</label>
                <input type="text" name="uid" class="form-control" placeholder="請輸入手機編號" value="{{uid}}">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">姓名</label>
                <input type="text" name="user_name" class="form-control" placeholder="請輸入訂單編號" value="{{user_name}}">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">手機</label>
                <input type="text" name="user_phone" class="form-control" placeholder="請輸入訂單編號" value="{{user_phone}}">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">房型</label>
                <input type="text" name="room_id" class="form-control" placeholder="請輸入房型" value="{{room_id}}">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">訂單類別</label>
                <div class="radio">
                    <input type="radio" name="room_type" value="0" {{#ifeq room_type '0'}}checked{{/ifeq}}{{^is_edit}}checked{{/is_edit}}>休息
                </div>
                <div class="radio">
                    <input type="radio" name="room_type" value="1" {{#ifeq room_type '1'}}checked{{/ifeq}}>住宿
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">總價</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" name="total_price" class="form-control" placeholder="原價" value="{{total_price}}">
                    <span class="input-group-addon">.00</span>
                </div>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">下定時間</label>
                <input type="text" id="date_purchased" name="date_purchased" class="form-control" placeholder="請輸入下定時間" value="{{date_purchased}}">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">付款時間</label>
                <input type="text" id="date_finished" name="date_finished" class="form-control" placeholder="請輸入付款時間" value="{{date_finished}}">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">狀態</label>
                <input type="text" name="status_id" class="form-control" placeholder="請輸入狀態" value="{{status_id}}">
                <span class="help-block"></span>
            </div>
            <p class="help-block">*上面欄位務必填寫.</p>
            <input type="hidden" name="motel_id" value="{{motel_id}}">
            {{#is_edit}}
                <input type="hidden" name="id" value="{{id}}">
            {{/is_edit}}
            <button type="button" data-form="#order_add_form" data-message="{{^is_edit}}建立訂單{{/is_edit}}{{#is_edit}}編輯訂單{{/is_edit}}" {{#is_edit}}data-id="{{id}}"{{/is_edit}} data-model="order" class="btn btn-primary save">{{^is_edit}}建立訂單{{/is_edit}}{{#is_edit}}編輯訂單{{/is_edit}}</button>
            <button class="btn" type="reset">{{^is_edit}}重新填寫{{/is_edit}}{{#is_edit}}取消編輯{{/is_edit}}</button>
        </div>
    </div>
    </form>
</div>
</article>
<script>
(function($){
    $('#myTab').tab('show');
    $('a[data-toggle="tab"]').on('shown', function (e) {
        console.log(e);
        console.log(e.target.hash); // activated tab
        console.log(e.relatedTarget.hash); // previous tab
    });
}(jQuery));
</script>
