<article class="module width_full">
<div style="width:98%;margin:0 auto;">
    <div class="menu">
        {{#is_weekend}}<a class="btn btn-danger set_weekend" data-is_weekend="0" data-motel_id="{{motel_id}}" style="color: white;"><i class="glyphicon glyphicon-remove"></i> 停用假日模式</a>{{/is_weekend}}{{^is_weekend}}<a class="btn btn-success set_weekend" data-is_weekend="1" data-motel_id="{{motel_id}}" data-model="room" style="color: white;"><i class="icon-ok"></i> 啟用假日模式</a>{{/is_weekend}}
        <a class="btn btn-primary check_all" data-model="room" style="color: white;"><i class="icon-ok"></i> 全選列表</a>
        {{^hideEnable}}
        <a class="btn btn-warning enable" data-active="1" data-motel_id="{{motel_id}}" data-model="room"><i class="icon-unlock"></i> 全部啟用</a>
        <a class="btn btn-danger enable" data-active="0" data-motel_id="{{motel_id}}" data-model="room"><i class="icon-lock"></i> 全部關閉</a>
        {{/hideEnable}}
        <a class="btn btn-primary" data-model="room" href="#!/room/add/{{motel_id}}" style="color: white;"><i class="icon-edit"></i> 新增房型</a>
        <a class="btn btn-danger delete_all" data-form="#room_list_form" data-model="room"><i class="icon-trash"></i> 刪除房型</a>
    </div>
    <ul class="pager">
        {{#previous_show}}
        <li class="previous">
            <a href="#!/room/list/{{room_id}}/1" style="margin-right: 10px;">&larr; 第一頁</a>
        </li>
        <li class="previous">
            <a href="#!/room/list/{{room_id}}/{{previous_page}}">&larr; 上一頁</a>
        </li>
        {{/previous_show}}
        {{#next_show}}
        <li class="next">
            <a href="#!/room/list/{{room_id}}/{{total_pages}}">最後一頁 &rarr;</a>
        </li>
        <li class="next">
            <a href="#!/room/list/{{room_id}}/{{next_page}}">下一頁 &rarr;</a>
        </li>
        {{/next_show}}
    </ul>
    <form action="#" method="post" id="room_list_form">
    <div class="table-responsive">
    <table id="room_list" class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                {{#isAdmin}}
                <th>摩鐵名稱</th>
                {{/isAdmin}}
                <th>房型名稱</th>
                <th>休息/住宿</th>
                <th>原價</th>
                <th>平日特價</th>
                <th>假日特價</th>
                <th>建立日期</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id[]" value="{{id}}"></td>
            {{#../isAdmin}}
            <td><a href="#!/motel/edit/{{motel_id}}">{{motel_title}}</a></td>
            {{/../isAdmin}}
            <td>{{#ifeq active '1'}}<span class="label label-success" style="font-size: 14px">{{../title}}</span>{{/ifeq}}{{#ifeq active '0'}}<span class="label label-default" style="font-size: 14px">{{../title}}</span>{{/ifeq}}</td>
            <td>{{#ifeq type '1'}}<span class="label label-warning" style="font-size: 14px">住宿</span>{{/ifeq}}{{#ifeq type '0'}}<span class="label label-info" style="font-size: 14px">休息</span>{{/ifeq}}</td>
            <td>{{price_1}}</td>
            <td>{{price_2}}</td>
            <td>{{price_3}}</td>
            <td>{{date_time add_time}}</td>
            <td>
                {{#ifeq active '1'}}
                <button class="btn btn-danger enable" data-active="0" data-id="{{../id}}"><i class="icon-lock"></i> 關閉</button>
                {{/ifeq}}
                {{#ifeq active '0'}}
                <button class="btn btn-warning enable" data-active="1" data-id="{{../id}}"><i class="icon-unlock"></i> 啟用</button>
                {{/ifeq}}
                <a class="btn btn-primary" data-model="room" data-id="{{id}}" href="#!/room/edit/{{id}}" style="color: #fff"><i class="icon-edit"></i> 編輯</a>
                <button class="btn btn-danger delete" data-model="room" data-title="{{title}}" data-id="{{id}}" href="#"><i class="icon-trash"></i> 刪除</button>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </div>
    </form>
</div>
</article>
