<article class="module width_full">
<div style="width:98%;margin:0 auto;">
    <div class="menu">
        <a class="btn btn-primary check_all" data-model="room" style="color: white;"><i class="icon-ok"></i> 全選列表</a>
        <a class="btn btn-primary" data-model="room" href="#!/room/add/{{motel_id}}" style="color: white;"><i class="icon-edit"></i> 新增房型</a>
        <a class="btn btn-danger delete_all" data-form="#room_list_form" data-model="room" style="color: white;"><i class="icon-trash"></i> 刪除房型</a>
    </div>
    <ul class="pager">
        {{#previous_show}}
        <li class="previous">
            <a href="#!/room/list/1" style="margin-right: 10px;">&larr; 第一頁</a>
        </li>
        <li class="previous">
            <a href="#!/room/list/{{previous_page}}">&larr; 上一頁</a>
        </li>
        {{/previous_show}}
        {{#next_show}}
        <li class="next">
            <a href="#!/room/list/{{next_page}}">下一頁 &rarr;</a>
        </li>
        {{/next_show}}
    </ul>
    <form action="#" method="post" id="room_list_form">
    <div class="table-responsive">
    <table id="room_list" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>編號</th>
                <th>房型名稱</th>
                <th>休息/住宿</th>
                <th>原價</th>
                <th>平日特價</th>
                <th>假日特價</th>
                <th>建立日期</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        {{#items}}
        <tr>
            <td><input type="checkbox" name="id[]" value="{{id}}"></td>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{type}}</td>
            <td>{{price_1}}</td>
            <td>{{price_2}}</td>
            <td>{{price_3}}</td>
            <td>{{date_time add_time}}</td>
            <td>
                <a class="btn btn-primary" data-model="room" data-id="{{id}}" href="#!/room/edit/{{id}}" style="color: white;"><i class="icon-edit"></i> 編輯</a>&nbsp;
                <a class="btn btn-danger delete" data-model="room" data-title="{{title}}" data-id="{{id}}" href="#" style="color: white;"><i class="icon-trash"></i> 刪除</a>
            </td>
        </tr>
        {{/items}}
        </tbody>
    </table>
    </div>
    </form>
</div>
</article>
